.container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
  h2 {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2.2rem;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;

    .gridProduct {
      height: fit-content;
      img {
        aspect-ratio: 1/1;
      }
      span {
        font-size: 1.1rem;
        text-transform: uppercase;
      }
    }
  }
}
