.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: var(--main-bg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .left,
  .right,
  .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    flex: 0.5;
  }
  .left {
    justify-content: start;
  }
  .middle {
    height: 100%;
    img {
      height: 50%;
      width: auto;
    }
  }
  .right {
    justify-content: end;
  }
}
.wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2000;
  .menu {
    width: 500px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    height: 100%;
    transition: all 0.2s ease-in-out;
    transition-delay: 0.2s;
    display: flex;
    justify-content: center;

    .menuWrapper {
      width: 70%;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10vh 0;
    }
  }
  .menuOpen {
    transform: translateX(0);
  }
  .menuHidden {
    transform: translateX(-100%);
  }
}
.wrapOpen {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.357);
}
.wrapHidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
